# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

bk/*
results/*
logs/*
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


#忽略src里所有的.csv文件
src/ukge/*.csv
data/nl27k/11.py
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/0cc53ccd267b22f05deb44191db531056c06b79620526eada298b106d321a69d.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/1e16de26a09ba34c1ee1ffec1cda347214d991e6f110dcb18e2d0baf515d6e03.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/5ba3905737bbe6227df495acf75b2654f3dd263144632384e009f0cba3b3ebc5.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/5c253a87b5fe4fc5073dfb6ff3899bdf7b674445223c654fbbf70d8e9b117b49.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/5ca82dbeef1fd7334ac17d91e000e1dea4217de8fe85ae1d1ad7b78162e03589.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/5f603a8d676f3295fe554808c648e798c987b3347cfd9757a2ea25c7743dcd44.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/6c4e76572aa71b8628c71678600a851f96a95127615f02c54b7f9af23a9a17bb.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/7d525808e30bb2da3e349b741e182ed969efa5e938ea0c8e724ee9ec2d214765.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/9d03fc1e0988e9ac78134dc92afb453ad7289cd5.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/9e90fe58002e48b84926c59c4652d3b6f2f01d4541dd8873aaa4f2c98c83e160.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/14b3e5516872acc6284ac15df4bb16bf7dd7743aec79189107170f53a5d665ca.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/37b1afe63cadc4ddce30aaff1b149c2f3083650c.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/46cf88b8ebf78b5a57e3bf032ece63b70eed11713a9525ee391e1d2e26dc0b59.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/67bbd36439ea28228db60f74a1155fbcd2efaeb96d93bfd7311c788d9183d7d3.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/92e6aaec8ce635dd03df1279fd60bdfd8bd2025be61ff63961c8dfcc467108fb.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/149ba114b76db73441e34267f67342de8bafe16d270b3e92ed3b18dae1dfac72.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/345cb6c5bef645f46f7985c3c4bd12919effd25e9c8cdcec087313ab3a999c13.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/2707a2a6405682d919135edd490e886867df1135a95451a30abce31ff85fde41.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/2791a04ee6df7391e48158f887ac3a4f212f7b390a23d5239ef950a5931c5b83.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/8022b86c9c5e68882883531c53681f47f4704b85756d7334245d9918a043bff5.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/8508c8cb3786d0b25f4c1ca6d0510205b10cab5e75874fe353ad159d27d3834d.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/20919fc8228b7e2e1afaeffd487c4e8ed76defd0ac37c79ea32c2b01176a37e1.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/61352e0a18541a6340a88ee566ec86db9d0807259fb64a49cf7c7d99dcb27dc3.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/412806596a1283ba83602123e49ec97da18e7f16.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/526210964cbbf3882bcc2b99a4f1f79bd900b9cd56e5acb0fdb8682def9821b6.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/a177efddcb7b4941f63423c38322dddf4641c58b5d4dbc50db18743588828599.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/adf7f0389cd38b6a43218f28807f321de39cbc829edcb187950a0cabe056826f.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/ba3a32378ade3c8175898c2860cee2b505ecadc3d5ae71f97ffc984c0a9f1578.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/c4dca9d5b629d0199a319fb2f73d4d36a699897939bbad2a2fa02fece27b580e.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/c47d3278921e77e328707dfbfa1e341478dd34153c9eec0ae323e87811ae7da1.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/cb9ec25536e44d86778b10509d3e5bdca459a5cf.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/cfabacc2620186cd3dd4b1dde9a37e057208636e.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/d7ab65186aa6cb9123672ef9612033688a5156e7823fbea2ffefc1144d96c152.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/d9fdbc30b42b80f37ff85c93adf92c2176c46877fe020d02c61e69eed4d469bf.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/ead19b1798cffa162bedbce63d216143309130976c71f8eeb270b70e71a9e561.lock
notebooks/ /DATA2/HuggingFace/.locks/models--meta-llama--Meta-Llama-3.1-70B/fc9506438b7b55383dc04c0816561442324846c3.lock
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/.no_exist/6113f060e6c497c714cc6463c8bcbd78aefac089/added_tokens.json
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/.no_exist/6113f060e6c497c714cc6463c8bcbd78aefac089/model.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/0cc53ccd267b22f05deb44191db531056c06b79620526eada298b106d321a69d
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/1e16de26a09ba34c1ee1ffec1cda347214d991e6f110dcb18e2d0baf515d6e03
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/5ba3905737bbe6227df495acf75b2654f3dd263144632384e009f0cba3b3ebc5
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/5c253a87b5fe4fc5073dfb6ff3899bdf7b674445223c654fbbf70d8e9b117b49
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/5ca82dbeef1fd7334ac17d91e000e1dea4217de8fe85ae1d1ad7b78162e03589
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/5f603a8d676f3295fe554808c648e798c987b3347cfd9757a2ea25c7743dcd44
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/6c4e76572aa71b8628c71678600a851f96a95127615f02c54b7f9af23a9a17bb
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/7d525808e30bb2da3e349b741e182ed969efa5e938ea0c8e724ee9ec2d214765
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/9d03fc1e0988e9ac78134dc92afb453ad7289cd5
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/9e90fe58002e48b84926c59c4652d3b6f2f01d4541dd8873aaa4f2c98c83e160
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/14b3e5516872acc6284ac15df4bb16bf7dd7743aec79189107170f53a5d665ca
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/37b1afe63cadc4ddce30aaff1b149c2f3083650c
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/46cf88b8ebf78b5a57e3bf032ece63b70eed11713a9525ee391e1d2e26dc0b59
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/67bbd36439ea28228db60f74a1155fbcd2efaeb96d93bfd7311c788d9183d7d3
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/92e6aaec8ce635dd03df1279fd60bdfd8bd2025be61ff63961c8dfcc467108fb
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/149ba114b76db73441e34267f67342de8bafe16d270b3e92ed3b18dae1dfac72
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/345cb6c5bef645f46f7985c3c4bd12919effd25e9c8cdcec087313ab3a999c13
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/2707a2a6405682d919135edd490e886867df1135a95451a30abce31ff85fde41
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/2791a04ee6df7391e48158f887ac3a4f212f7b390a23d5239ef950a5931c5b83
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/8022b86c9c5e68882883531c53681f47f4704b85756d7334245d9918a043bff5
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/8508c8cb3786d0b25f4c1ca6d0510205b10cab5e75874fe353ad159d27d3834d
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/20919fc8228b7e2e1afaeffd487c4e8ed76defd0ac37c79ea32c2b01176a37e1
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/61352e0a18541a6340a88ee566ec86db9d0807259fb64a49cf7c7d99dcb27dc3
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/412806596a1283ba83602123e49ec97da18e7f16
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/526210964cbbf3882bcc2b99a4f1f79bd900b9cd56e5acb0fdb8682def9821b6
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/a177efddcb7b4941f63423c38322dddf4641c58b5d4dbc50db18743588828599
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/adf7f0389cd38b6a43218f28807f321de39cbc829edcb187950a0cabe056826f
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/ba3a32378ade3c8175898c2860cee2b505ecadc3d5ae71f97ffc984c0a9f1578
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/c4dca9d5b629d0199a319fb2f73d4d36a699897939bbad2a2fa02fece27b580e
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/c47d3278921e77e328707dfbfa1e341478dd34153c9eec0ae323e87811ae7da1
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/cb9ec25536e44d86778b10509d3e5bdca459a5cf
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/cfabacc2620186cd3dd4b1dde9a37e057208636e
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/d7ab65186aa6cb9123672ef9612033688a5156e7823fbea2ffefc1144d96c152
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/d9fdbc30b42b80f37ff85c93adf92c2176c46877fe020d02c61e69eed4d469bf
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/ead19b1798cffa162bedbce63d216143309130976c71f8eeb270b70e71a9e561
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/blobs/fc9506438b7b55383dc04c0816561442324846c3
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/refs/main
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/config.json
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/generation_config.json
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00001-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00002-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00003-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00004-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00005-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00006-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00007-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00008-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00009-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00010-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00011-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00012-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00013-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00014-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00015-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00016-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00017-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00018-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00019-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00020-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00021-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00022-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00023-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00024-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00025-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00026-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00027-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00028-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00029-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model-00030-of-00030.safetensors
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/model.safetensors.index.json
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/special_tokens_map.json
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/tokenizer_config.json
notebooks/ /DATA2/HuggingFace/models--meta-llama--Meta-Llama-3.1-70B/snapshots/6113f060e6c497c714cc6463c8bcbd78aefac089/tokenizer.json
